.cm-nav a {
    color:#444 !important;
}

.cm-nav a.active {
    color: #302f80 !important;
    font-weight: bold;
}

.container.cm-container {
    max-width: 1375px !important;
}


.nav-link {
    font-size:14px;
}

.cm-pills > .nav-link.active {
    background-color:#aaa !important;
}

.form-control[readonly].form-date {
    background-color: white !important;
}

.nav-pills.selector .nav-item.nav-link {
    border:1px solid #white;
}

.nav-pills.selector .nav-item.nav-link:hover {
    color:#444;
    border:1px solid #444;
}

.number {
    text-align:right;
}

.number.highlight {
    background-color: #444;
    color:white;
}

a.card-selection .card-body {
    text-align:center;
    font-size:18px;
    font-weight:bold;
    padding-top:40px;
    padding-bottom:40px;
    color: #444;
    text-decoration:none;
}


a.card-selection:hover .card {
    border:1px solid #00dded
}

.card-selection .fa {
    font-size:25px;
}

.alert.subtle {
    border-left:2px solid #00deed;
    border-radius:0px
}

.alert.subtle.danger {
    border-left:2px solid #EB594F !important;
}

span.approver {
    float:right;
    font-size:15px;
    font-weight:bold;
    padding-bottom:3px;
    border-bottom:1px solid #black;

}

.alert.subtle.warning {
    border-left:2px solid #FFC107 !important;
}

.card.cm-profile label {
    color:#444;
    font-size:13px;
}

body{
    font-size:13px;
}
